.result
    h1 Op productie

    .table-responsive
        table.table
            thead
                tr
                    th #
                    th Commit
                    th Gebruiker
                    th Datum

            tbody
                tr
                    td
                    td= git.log.latest.message
                    td= git.log.latest.author_name
                    td= git.log.latest.date

    p= 'behind: ' + git.status.behind + ' / tracking: '+ git.status.current