extends layout

block content
    form(action='/git/clone', method='post', id="git-clone", class="ajax removeOnComplete")
        .alert.alert-success.hidden= 'Repository toegevoegd! '
            a(href='/') Ga naar de instellingen

        .terminal.hidden

        .form-elements-holder
            .form-group
                label(for='url') Checkout URL
                |
                input#url.form-control(type='text', name='url' placeholder='URL', value=git_ssh)
            |
            button.btn.btn-primary(type='submit') Clone!