extends layout

block content
    if !isXhr
        form(action='/git/deploy/' + folder, method='post', id="git-deploy", class="ajax reload lazy")
            .terminal
                .default Starting...

            button(type='submit' class="btn btn-primary")
                i(class='fa fa-cloud-upload')
                span= ' Pull & Deploy!'

    else
        include git_deploy_terminal.pug