extends layout

block content
  .table-responsive
    table.table.table-striped
      thead
        tr
          th #
          th Project
          th
          th

      tbody
        each item,i in repos
          tr
            td=i
            td=item
            td
              a(href= '/projects/settings/'+ item)= 'Settings'
            td
              a(href= '/git/deploy/'+ item)= 'Deploy'