doctype html
html
    block head
        head
            title= site.title + ' - Deployert'

            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')

            block stylesheets
                link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
                link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
                link(rel='stylesheet', href='/stylesheets/style.css')

            block scripts
                script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
                script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        block nav
            nav.navbar.navbar-inverse.navbar-fixed-top
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href='/') Deployert

        .container-fluid
            .row
                block sidebar
                    .col-sm-3.col-md-2.sidebar
                        ul.nav.nav-sidebar
                            each item in site.menu
                                li
                                    a(href= item.href)= item.text

                .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    h1.page-header= site.page_title

                    block content

block scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/javascripts/script.js')