extends layout

block content
    if(saved)
        div.alert.alert-success= 'Succesvol opgeslagen.'

    form(action='/projects/settings/'+projectName, method='post', id="project-detail")
        .terminal.hidden
            main.prompt Starting...

        each setting, name in settings
            .form-group
                label(for=name)= name

                if(name == 'mode')
                    select.form-control(name= name)
                        option(value='init', selected= select.mode.init) init
                        option(value='push', selected= select.mode.push) push

                else
                    input.form-control(type='text', name= name, value= setting)


        button.btn.btn-success(type='submit')
            i(class="fa fa-save")
            span= ' Opslaan'